<ion-content padding>
  <div class="mid">

    <div class="div-slides">
      <ion-slides pager autoplay="4000" loop zoom (ionSlideAutoplayStop)="restarSlides()">
        <ion-slide *ngFor="let slide of slides">
          <div class="slides-img" 
          [style.background-image]="'url(assets/imgs/prueba/' + slide.image + ')'">
          </div>
        </ion-slide>
      </ion-slides>
    </div>

    <!-- <div class="title-search">
      <h4>Los mas buscados</h4>
    </div> -->

    <!-- <hr style="border:5px; width: 70%; text-align: center"> -->

    <!--Cargar productos mas buscados-->
    <!------------------------------------->
    <!-- <div class="card">
      <ion-row wrap>
        <ion-col col-6 *ngFor="let product of products">
          <ion-card tappable (click)="goProduct(product)">
            <ion-thumbnail>
              <img [src]="'https://alquio.com/productos/' + product.foto" class="imgCard"/>
            </ion-thumbnail>
            <ion-card-content>
              <p>{{ '$ ' + product.precio }}</p>
              <p><strong>{{ product.titulo }}</strong></p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-infinite-scroll (ionInfinite)="loadMore($event)" loadingSpinner="bubbles" loadingText="Cargando productos...">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-row>
    </div>
  </div> -->



    <div class="div-card-parent">

      <div class="div-card-child">
        <div class="products" *ngFor="let product of productsPar" (click)="goProduct(product)">
          <div class="products-int">
          <!-- <ion-card tappable (click)="goProduct(product)"> -->
            <ion-thumbnail>
              <img [src]="'https://alquio.com/productos/' + product.foto" class="imgCard"/>
            </ion-thumbnail>
            <div class="card-cont">
              <p class="precio">{{ 'USD ' + product.precio }}</p>
              <p class="titulo">{{ product.titulo }}</p>
            </div>
          </div>
          <!-- </ion-card> -->
        </div>
      </div>

      <div class="div-card-child">
        <div class="products" *ngFor="let product of productsImpar" (click)="goProduct(product)">
          <div class="products-int">
          <!-- <ion-card tappable (click)="goProduct(product)"> -->
            <ion-thumbnail>
              <img [src]="'https://alquio.com/productos/' + product.foto" class="imgCard"/>
            </ion-thumbnail>
            <div class="card-cont">
              <p class="precio">{{ 'USD ' + product.precio }}</p>
              <p class="titulo">{{ product.titulo }}</p>
            </div>
          </div>
          <!-- </ion-card> -->
        </div>
      </div>
      <!-- <div class="div-card-load"> -->
        <ion-infinite-scroll class="div-card-load" (ionInfinite)="loadMore($event)" loadingSpinner="bubbles" loadingText="Cargando productos...">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      <!-- </div>   -->

    </div>


  </div>

  <div class="initial">
    <!--bottom-->
    <div id="bottom" class="bar">
      <button id="left" class="buttonBar" (click)="moveLeft()">
          <img src="assets/imgs/customicons/left.png" class="icon-bar">
      </button>

      <ion-slides class="categories" loop>
        <ion-slide *ngFor="let category of categories">
          <p id="categoy">{{ category.name }}</p>
        </ion-slide>
      </ion-slides>

      <button id="right" class="buttonBar" (click)="moveRight()">
          <img src="assets/imgs/customicons/right.png" class="icon-bar">
      </button>
    </div>
  </div>
  
</ion-content>

<div *ngIf="tutorial" class="tutorial" (click)="dismissTut()">
  
  <ion-slides pager>
    <ion-slide>
      <div class="info-tuto">
        <p class="font-tutorial-big">Encuentra</p>
        <p class="font-tutorial-normal"> tu </p>
        <p class="font-tutorial-normal">categoría </p>
        <p class="font-tutorial-big">favorita</p>
      </div>
      <img src="assets/imgs/tutorial/flecha1.png" class="flecha-1">
    </ion-slide>
    <ion-slide>
      <div class="info-tuto">
        <p class="font-tutorial-big">Desliza</p>
        <p class="font-tutorial-normal"> hacia arriba </p>
        <p class="font-tutorial-normal">para ver todas las </p>
        <p class="font-tutorial-big">categorías</p>
      </div>
      <img src="assets/imgs/tutorial/flecha1.png" class="flecha-1">
      <img src="assets/imgs/tutorial/flecha2.png" class="flecha-2">
    </ion-slide>
    <ion-slide>
      <div class="info-tuto">
        <p class="font-tutorial-normal">Encuentra</p>
        <p class="font-tutorial-big"> todo </p>
        <p class="font-tutorial-normal">Lo que tienes </p>
        <p class="font-tutorial-normal">en </p>
        <p class="font-tutorial-big">Mente</p>
      </div>
      <img src="assets/imgs/tutorial/flecha3.png" class="flecha-3">
    </ion-slide>
    <ion-slide>
      <div class="info-tuto">
        <p class="font-tutorial-normal" style="margin-left: 2px; margin-right: 2px;">En tu perfil</p>
        <p class="font-tutorial-big"> encontraras </p>
        <p class="font-tutorial-normal" style="margin-left: 40px">todas las </p>
        <p class="font-tutorial-big" style="margin-left: 40px">herramientas </p>
        <p class="font-tutorial-normal" style="margin-left: 160px">necesarias</p>
      </div>
      <img src="assets/imgs/tutorial/flecha2.png" class="flecha-3" style="width: 10%; left: 43%;">
    </ion-slide>
    <ion-slide>
      <div class="info-tuto">
        <p class="font-tutorial-normal">Ve a tu carrito</p>
        <p class="font-tutorial-big"> modifica </p>
        <p class="font-tutorial-normal">tu compra, </p>
        <p class="font-tutorial-big">paga </p>
        <p class="font-tutorial-normal">y espera tu </p>
        <p class="font-tutorial-big" style="margin-left: 160px">pedido</p>
      </div>
      <img src="assets/imgs/tutorial/flecha2.png" class="flecha-3" style="width: 10%; left: 74%;">
    </ion-slide>
    <ion-slide>
      <div class="info-tuto" style="top:75%">
        <p class="font-tutorial-normal">Los</p>
        <p class="font-tutorial-big"> filtros </p>
        <p class="font-tutorial-normal">te ayudarán a encontrar, </p>
        <p class="font-tutorial-normal" style="margin-left: 130px">lo que </p>
        <p class="font-tutorial-big" style="margin-left: 160px">buscas</p>
      </div>
      <img src="assets/imgs/tutorial/flecha4.png" class="flecha-4">
    </ion-slide>
  </ion-slides>
</div>

<!--Opacidad del Contenido-->
<drawer-opacity #sideBar></drawer-opacity>

<!--Volver-->
<!-- <button class="button-back" (click)="backPage()">
    <ion-icon name="power" style="color: white"></ion-icon>
</button> -->

<!--Header-->
<header-app [options]="namePage"></header-app>

<!--Bottom-->
<!-- <bottom-app></bottom-app> -->

<!--Opciones del usuario-->
<drawer-user [options]="namePage" [sideBar]="sideBar"></drawer-user>
<drawer-user-panel></drawer-user-panel>




<!--Mostrar Categorias-->
<drawer-category [sideBar]="sideBar" [categories]="categories"></drawer-category>
<drawer-category-panel></drawer-category-panel>

<!--Motrar Filtro de Variantes-->
<!-- <drawer-filter [sideBar]="sideBar"></drawer-filter> -->
<div [ngClass]="{'backgroundNoColor': initialColor, 'backgroundBlack': leftColor}"></div>
<div (click)="filterTransition()" (swipe)="filterTransitionWithGesture($event)" [ngClass]="{'fakeButtonInitial': initialButton, 'fakeButtonLeft': leftButton}" class="fakeButton"></div>
<drawer-filter [ngClass]="{'idle': initialPosition, 'left': leftPosition}"></drawer-filter>


