<ion-content padding center text-center class="contentLogin">
  <!-- <button (click)="goBack()" style="background-color: transparent;position: absolute;left: 15px;">
    <ion-icon name="arrow-back" style="color: white; zoom: 2.5">
    </ion-icon>
  </button> -->

  <!-- <img src="assets/imgs/login/inicio-fondo-sin-logo.png" class="fondo-all"/> -->

  <div class="initial">
    <div class="img-logo">
      <img src="assets/imgs/logo-hd.png" class="imgLogin"/>
    </div>

    <div style="margin-top: 30px; float: left; margin-bottom: 30px;">
      <div class="goGoo">
          <img src="assets/imgs/login/icono-google.png" class="icono-google">
          <div class="letras-icono-google">Iniciar sesión con Google
          </div>
      </div>
      <div class="goFace">
        <img src="assets/imgs/login/icono-facebook.png" class="icono-facebook">
        <div class="letras-icono-facebook">Iniciar sesión con Facebook
        </div>
      </div>
    </div>

    <form [formGroup]="myForm" novalidate>
      <ion-list class="list" style="margin-top: 30px">
        <ion-item>
          <ion-label>
            <ion-icon name="person"></ion-icon>
          </ion-label>
          <ion-input formControlName="email" placeholder="Correo" type="email" [(ngModel)]="FormLog.email"></ion-input>
        </ion-item>
        <ion-item *ngIf="myForm.get('email').errors && myForm.get('email').dirty">
          <p color="danger" ion-text *ngIf="myForm.get('email').hasError('required')">Debe escribir un correo</p>
          <p color="danger" ion-text
            *ngIf="myForm.get('email').hasError('email') && !myForm.get('email').hasError('required')">Este no es un
            correo
          </p>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon name="lock"></ion-icon>
          </ion-label>
          <ion-input formControlName="password" placeholder="Contraseña" type="password" [(ngModel)]="FormLog.password">
          </ion-input>
        </ion-item>
        <ion-item *ngIf="myForm.get('email').errors && myForm.get('email').dirty">
          <p color="danger" ion-text *ngIf="myForm.get('email').hasError('required')">Debe escribir una contraseña</p>
        </ion-item>
      </ion-list>
      <button class="buttonLogin" [disabled]="myForm.invalid" (click)="login()"><div class="letras-button">Ingresar</div>
      </button>
    </form>

    <div style="width: 100%; margin-top: 40px">
      <a (click)="goSingIn()" style="font-size: 12.5px; color: #fff">¿Aún no tienes una cuenta?</a>
    </div>


  </div>
</ion-content>