page-order {
    
    background-color: #eeeeee;

    .scroll-content {
        padding: 0px !important;
        contain: none !important;
    }

    .div-status{
        margin-top: 10%;
    }

    .order-bot{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        background-image: linear-gradient(#ffffff, #e0e0e0);
    }

    .initial{
        position: relative;
    }

    .mid{
        contain: layout;
        background: #eeeeee
    }

    .bar{
        position: fixed;
        height: 8.5%;
        width: 100%;
        background-color: #7B55B9;
        text-align: center
    }
    .buttonBar{
        align-content: center;
        text-decoration: none;
        padding: 10px;
        font-weight: 600;
        font-size: 80%;
        color: #ffffff;
        background-color: transparent;
        width: 30%;
        height: 100%;
        p{
            margin:0;
        }
    }

    #header{
        top: 0;
        border-bottom-right-radius: 200px;
        border-bottom-left-radius: 200px;
        background-color: #7B55B9;
        background-image: linear-gradient(#7B55B9, #40188F);
    }
    #search{
        border-bottom-left-radius: 200px;
    }
    #user{
    }
    #cart{
        border-bottom-right-radius: 200px;
    }

    #bottom{
        position: fixed;
        top: 91.5%;
        border-top-right-radius: 200px;
        border-top-left-radius: 200px;
        background-color: #7B55B9;
        background-image: linear-gradient(#40188F, #7B55B9);
    }

    .icon-bar{
        width: 20px;
        height: 20px;
    }

    .icon-bar-user{
        width: 20px;
        height: 25px;
    }

    //---------Div Opacity-----------

    .transition-content{
        position: fixed;
        background-color: rgba(0, 0, 0, 0.692);
        -webkit-transition: opacity 600ms, visibility 600ms;
        transition: opacity 600ms, visibility 600ms;
    }

    .opacity-content{
        opacity: 1;
    }
    .no-opacity-content{
        opacity: 0;
    }
    .exist-content{
        z-index: 15 !important;
        display: block;
        width: 100%;
        height: 100%;
    }
    .no-exist-content{
        display: none;
    }

    //-------Cards---------//
    .head-card{
        position: relative;
    }

    .nro-card{
        position: relative;
    }

    .img-shape{
        position: absolute;
        width: 30px;
        height: 20px;
        right: 10px;
    }
    
    .card-order{
        margin-top: 20%;
        margin-bottom: 0;
    }

    .card{
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .row-card{
        height: 100px;
    }

    .img-card{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    
    .icon-card{
        width: 70%;
        height: 70%;
        background-size: auto;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    .price{
        margin-top: 10px;
        text-align: left;
        color: rgb(126, 126, 126);
    }

    .value-price{
        text-align: left;
    }

    .icon-status{
        width: auto;
        height: 80px;
        text-align: center;
    }

    .icon-status-trans{
        margin-top: 10px;
        width: 70px;
        height: 70px;
        text-align: center;
    }

    .title-bot{
        color: #ffffff; 
        font-size: 15px; 
        vertical-align: middle;
    }

    .custom-grid{
        .col{
            padding: 0;
        }
        .grid{
            padding: 0;
        }
        .row{
            padding: 0;
        }
    }

    .swiper-pagination {
        //top: 110px;
    }

    ion-card img {
        display: initial;
    }
}
