<ion-content padding overflow-scroll="false">
  <div *ngIf="!cartProd">
    <div style="text-align: center; margin-top: 50px;">
      <img src="assets/imgs/fondo-Inico--.png" width="25%" height="12.5%"/>
      <img src="assets/imgs/pale-order-completed.png" width="100%" height="25%"/>
      <p class="texto-de-vacio"><strong>!Aún no tienes nada en el carrito¡<br /> ¿qué esperas?</strong></p>
      <button class="boton-inicio" icon-only (click)="backPage()">
        <img src="assets/imgs/inicio_vacio.PNG" width="100%" height="100%"/>
      </button>
    </div>
  </div>
  <div *ngIf="cartProd" class="card-cart" >
    <div style="width: 100%; text-align: center"><h2>Carrito de compras</h2></div>
    <ion-card *ngFor="let product of cartProd">
    <div>
      <ion-grid center>
        <ion-row class="row-card">
          <ion-col>
            <div class="img-card"
              [style.background-image]="'url(https://alquio.com/productos/' + product.foto + ')'">
            </div>
          </ion-col>
          <ion-col>
            <div class="class-center">
              <p>{{product.titulo}}</p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="class-center">
              <div style="position: relative">
                <p>$ {{product.precio}}</p>
              </div>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <div>
                <button class="button-remove" (click)="decrement(product)">
                    <ion-icon name="remove"></ion-icon>
                </button>
                <p class="quantity class-center" style="position: absolute">{{product.cantidad}}</p>
                <img class="img-control" src="assets/imgs/customicons/control.png" >

                <button class="button-add" (click)="increment(product)">
                    <ion-icon name="add"></ion-icon>
                </button>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      </div>
      <hr style="border:5px; width: 90%; text-align: center; border-width: 5px">
      <ion-card-content (click)="goProduct(product)">
          <div style="margin: 0" [innerHTML]='product.descripcion_corta'></div>
          <!-- <p>{{product.descripcion_corta}}</p> -->
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>

<div id="bottom" class="bar">
  <!--Ordenar-->
  <div class="order bar">
    <p id="ord"><strong (click)="nav()">Ordenar</strong></p>
  </div>
</div>

<!--Opacidad del Contenido-->
<drawer-opacity #sideBar></drawer-opacity>

<!--Volver-->
<!-- <button class="button-back" (click)="backPage()">
  <ion-icon name="arrow-back" style="color: white"></ion-icon>
</button> -->
<button-back></button-back>

<!--Header-->
<header-app [options]="namePage"></header-app>

<!--Bottom-->
<!-- <bottom-app></bottom-app> -->

<!--Opciones del usuario-->
<drawer-user [options]="namePage" [sideBar]="sideBar"></drawer-user>
<drawer-user-panel></drawer-user-panel>
