header-app {
    
    .bar{
        position: fixed;
        height: 8.5%;
        width: 100%;
        background-color: #7B55B9;
        text-align: center
    }
    .button-home{
        position: fixed;
        height: 45px;
        width: 45px;
        background-color: #7B55B9;
        text-align: center;
        left: 0;
        border-radius: 200px;
        bottom: 12%;
        background-image: linear-gradient(to right,#7B55B9, #40188F);
    }
    .buttonBar{
        align-content: center;
        text-decoration: none;
        padding: 10px;
        font-weight: 600;
        font-size: 80%;
        color: #ffffff;
        background-color: transparent;
        width: 30%;
        height: 100%;
        p{
            margin: 0;
        }
    }

    #header{
        top: 0;
        border-bottom-right-radius: 200px;
        border-bottom-left-radius: 200px;
        background-color: #7B55B9;
        background-image: linear-gradient(#7B55B9, #40188F);
    }
    #search{
        border-bottom-left-radius: 200px;
    }
    // #user{
    // }
    #cart{
        border-bottom-right-radius: 200px;
    }

    #bottom{
        position: fixed;
        top: 91.5%;
        border-top-right-radius: 200px;
        border-top-left-radius: 200px;
        background-color: #7B55B9;
        background-image: linear-gradient(#40188F, #7B55B9);
    }
    .categories{
        position: fixed;
        top: 91.5%;
        left: 35%;
        width: 30%;
        height: 8.5%;
        /*background-color: #7B55B9;
        background-image: linear-gradient(#40188F, #7B55B9);*/
    }

    .icon-bar{
        width: 20px;
        height: 20px;
    }

    .icon-bar-user{
        width: 20px;
        height: 25px;
    }
}
