<!-- Generated template for the HeaderComponent component -->
<div class="initial">
    <div id="header" class="bar">
            <button id="search" class="buttonBar">
                <img src="assets/imgs/customicons/search.png" class="icon-bar">
            </button>
            <button id="user" class="buttonBar">
                <img src="assets/imgs/customicons/user.png" class="icon-bar-user">
            </button>
            <button id="cart" class="buttonBar" (click)="goCart()">
                <img src="assets/imgs/customicons/shopping-cart.png" class="icon-bar">
            </button>
        </div>
</div>
