page-home {

    .contentHome{
        background-image: linear-gradient(to bottom right, rgb(123, 85, 185), rgb(123, 85, 185),  rgb(123, 85, 185),
        rgb(78, 198, 179), rgb(78, 198, 179));
    }

    .initial{
        margin-top: 10%;
    }

    .imgHome{
        width: 80%;
        height: auto;
    }

    .buttonSocial{
        text-decoration: none;
        border-radius: 5px;
        font-weight: 550;
        font-size: 15px;
        width: 100%;
        text-transform: none;
    }
    #buttonGoFB{
        background-image: #3b5998;
    }
    #buttonGoGoo{
        background-color: #db4a39;
    }
    
}
