<ion-content padding>
  <div class="mid">
    <div class="div-slides">
      <ion-slides pager>
        <ion-slide>
          <div class="slides-img" 
          [style.background-image]="'url(https://alquio.com/productos/' + product.foto + ')'">
          </div>
        </ion-slide>
      </ion-slides>
    </div>

    <div class="primary-grid" style="margin: 20px">
      <ion-grid>
        <ion-row>
          <ion-col>
              <div style="text-align: left">
                <h4>{{product.titulo}}</h4>
              </div>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div class="price" style="margin-top: 17.5px">
                    <p>{{product.precio}}</p>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <div style="margin-top: 27.5px">
                    <img src="assets/imgs/social/Facebook-Logo.png" style="width: 30px; height: 30px;"/>
                    <img src="assets/imgs/social/Whatsapp-Logo.png" style="width: 30px; height: 30px; margin-left: 15px"/>
                    <img src="assets/imgs/social/Instagram-Logo.png" style="width: 30px; height: 30px; margin-left: 15px">
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
          <ion-col class="class-center">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div style="height: 50px">
                    <button class="button-remove" (click)="decrement()">
                        <ion-icon name="remove"></ion-icon>
                    </button>
                    <p class="quantity">{{currentNumber}}</p>
                    <img class="img-control" src="assets/imgs/customicons/control.png" >
              
                    <button class="button-add" (click)="increment()">
                        <ion-icon name="add"></ion-icon>
                    </button>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <div style="width: 100%">

                          <div style="width: 100%; position: relative; height: 25px; margin: 5px"
                            *ngIf="!isFavorite" (click)="addFavorite()">
                            <div style ="width: 75%; float:left; text-align: right">Agregar a favoritos</div>
                            <div style ="width: 25%; float:left;">
                              <ion-icon name="heart" style="zoom: 1.25; color: rgb(100, 100, 100)"></ion-icon>
                            </div>
                          </div>
                          <div style="width: 100%; position: relative; height: 25px; margin: 5px"
                            *ngIf="isFavorite" (click)="removeFavorite()">
                            <div style ="width: 75%; float:left; text-align: right"><strong>Favorito</strong></div>
                            <div style ="width: 25%; float:left;">
                              <ion-icon name="heart" style="zoom: 1.25; color: #7B55B9"></ion-icon>
                            </div>
                          </div>

                          <div style="width: 100%; position: relative; height: 25px; margin: 5px"
                            *ngIf="!isCart" (click)="addCart()">
                            <div style ="width: 75%; float:left; text-align: right">Agregar al carrito</div>
                            <div style ="width: 25%; float:left;">
                              <ion-icon name="cart" style="zoom: 1.25; color: rgb(100, 100, 100)"></ion-icon>
                            </div>
                          </div>
                          <div style="width: 100%; position: relative; height: 25px; margin: 5px"
                            *ngIf="isCart" (click)="removeCart()">
                            <div style ="width: 75%; float:left; text-align: right"><strong>En el Carrito</strong></div>
                            <div style ="width: 25%; float:left;">
                              <ion-icon name="cart" style="zoom: 1.25; color: #7B55B9"></ion-icon>
                            </div>
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <hr style="border:5px; width: 90%; text-align: center">

    <div *ngIf="variantId" >
      <ion-grid style="padding: 0">
        <ion-row class="price-calc">
          <ion-col style="padding: 0">
            <div style="width: 100%; text-align: center">
              <p style="font-size: 17px; margin: 0; margin-bottom: 10px">Color</p>
            </div>
            <div >
              <ion-grid center>
                <ion-row>
                  <ion-col>
                    <ion-checkbox [(ngModel)]="color1" (ionChange)="updateColor(1)" class="check-color1"></ion-checkbox>
                  </ion-col>
                  <ion-col>
                    <ion-checkbox [(ngModel)]="color2" (ionChange)="updateColor(2)" class="check-color2"></ion-checkbox>
                  </ion-col>
                  <ion-col>
                    <ion-checkbox [(ngModel)]="color3" (ionChange)="updateColor(3)" class="check-color3"></ion-checkbox>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-checkbox [(ngModel)]="color4" (ionChange)="updateColor(4)" class="check-color4"></ion-checkbox>
                  </ion-col>
                  <ion-col>
                    <ion-checkbox [(ngModel)]="color5" (ionChange)="updateColor(5)" class="check-color5"></ion-checkbox>
                  </ion-col>
                  <ion-col>
                    <ion-checkbox disable [(ngModel)]="color6" (ionChange)="updateColor(6)" class="check-color6"></ion-checkbox>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-col>
          <hr style="border:2px; height: 100%; text-align: center">
          <ion-col class="col-color">
            <div style="width: 100%; text-align: center">
              <p style="font-size: 17px; margin: 0; margin-bottom: 10px">Tamaño</p>
            </div>
            <div style="margin-top: 30px">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <strong>
                      <p *ngIf="!s" style="position: absolute; top: 5px; bottom: 0; right: 0; left: 0; margin: auto; z-index: 10;" (click)="checkS()">S</p>
                      <p *ngIf="s" style="position: absolute; top: 5px; bottom: 0; right: 0; left: 0; margin: auto; z-index: 10; color: #fff" (click)="checkS()">S</p>
                    </strong>
                    <ion-checkbox [(ngModel)]="s" (ionChange)="updateSize('s')" class="check-size1"></ion-checkbox>
                  </ion-col>
                  <ion-col>
                    <strong>
                      <p *ngIf="!m" style="position: absolute; top: 5px; bottom: 0; right: 0; left: 0; margin: auto; z-index: 10;" (click)="checkM()">M</p>
                      <p *ngIf="m" style="position: absolute; top: 5px; bottom: 0; right: 0; left: 0; margin: auto; z-index: 10; color: #fff" (click)="checkM()">M</p>
                    </strong>
                    <ion-checkbox [(ngModel)]="m" (ionChange)="updateSize('m')" class="check-size2"></ion-checkbox>
                  </ion-col>
                  <ion-col>
                    <strong>
                      <p *ngIf="!l" style="position: absolute; top: 5px; bottom: 0; right: 0; left: 0; margin: auto; z-index: 10;" (click)="checkL()">L</p>
                      <p *ngIf="l" style="position: absolute; top: 5px; bottom: 0; right: 0; left: 0; margin: auto; z-index: 10; color: #fff" (click)="checkL()">L</p>
                    </strong>
                    <ion-checkbox [(ngModel)]="l" (ionChange)="updateSize('l')" class="check-size3"></ion-checkbox>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div style ="background-color: #eeeeee">
      <ion-segment [(ngModel)]="detail">
        <ion-segment-button value="description">
          Descripción
        </ion-segment-button>
        <ion-segment-button value="shipping-and-return">
          Envio y devolución
        </ion-segment-button>
      </ion-segment>
    </div>
      
    <div [ngSwitch]="detail" style ="padding-left: 30px; padding-right: 30px; padding-top: 30px; padding-bottom: 20%; margin-top: 0; background-color: #eeeeee">
      <!-- <ion-list *ngSwitchCase="'description'">
        <ion-item>
          <p>{{product.descripcion_corta}}</p>
        </ion-item>
      </ion-list>
      <ion-list *ngSwitchCase="'shipping-and-return'">
        <ion-item>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </ion-item>
      </ion-list> -->
      <div *ngSwitchCase="'description'" style="margin: 0" [innerHTML]='product.descripcion'></div>
      <p *ngSwitchCase="'shipping-and-return'" style="margin: 0">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type 
        specimen book. It has survived not only five centuries, but also the leap into 
        electronic typesetting, remaining essentially unchanged. It was popularised in 
        the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
        and more recently with desktop publishing software like Aldus PageMaker including 
        versions of Lorem Ipsum.
      </p>
    </div>
  <!--Cierre Mid-->
  </div>

  <div class="initial">
    <div id="bottom" class="bar">
      <img src="assets/imgs/customicons/right.png" class="icon-bar" style="margin-top: 15px">
      <!-- <ion-icon name="arrow-up" style="color: white; zoom: 1.5; padding-top: 5px"></ion-icon> -->
      <button class="buttonBar" (click)="goOrder()">
        <p class="title-bot"><strong>Comprar</strong></p>
      </button>
      <img src="assets/imgs/customicons/right.png" class="icon-bar" style="margin-top: 15px">
      <!-- <ion-icon name="arrow-up" style="color: white; zoom: 1.5; padding-top: 5px"></ion-icon> -->
    </div>
  </div>

</ion-content>

<!--Opacidad del Contenido-->
<drawer-opacity #sideBar></drawer-opacity>

<!--Volver-->
<button class="button-back" (click)="backPage()">
  <ion-icon name="arrow-back" style="color: white"></ion-icon>
</button>

<!--Header-->
<header-app [options]="namePage"></header-app>

<!--Opciones del usuario-->
<drawer-user [options]="namePage" [sideBar]="sideBar"></drawer-user>
<drawer-user-panel></drawer-user-panel>


