page-ordenes {

    #ord{
        font-size: 15px;
        color: #ffffff;
        padding: 0;
    }

    .orders-body{
        padding-top: 50px;
        padding-left: 10px;
    }

    .noneMargin{
        margin: 0px;
    }
    
    .moneda{
        font-size: 9px;
    }

    .rowOrderSummary{
        background-color: rgb(247, 247, 247);
    }
    
    .rowBorders{
        border-top: 2px solid;
        border-bottom: 2px solid;
        border-color: rgb(228, 228, 228);
    }
    
    .rowBorderBottom{
        border-bottom: 2px solid;
        border-color: rgb(228, 228, 228);
    }

    .input-discount{
        border: 1px solid;
        border-color: rgb(228, 228, 228);
        border-radius: 3px;
    }

    .button-discount{
        background-color: rgb(228, 228, 228);
        height: 44px;
    }
    
    .button-discount.activated{
        background-color: rgb(228, 228, 228);
    }

}
