<ion-content no-padding>

  <img src="assets/imgs/alquio-order.png" class="img-inicio">


  <ion-row class="rowOrderSummary rowBorders" align-items-center text-wrap (click)="showSummaryAction()">

    <ion-col col-1 text-center>
      <ion-icon name="cart"></ion-icon>
    </ion-col>

    <ion-col col-7 *ngIf="!showSummary">
      <ion-label>Mostrar orden <ion-icon ios="ios-arrow-down" md="ios-arrow-down"></ion-icon>
      </ion-label>
    </ion-col>

    <ion-col col-7 *ngIf="showSummary">
      <ion-label>Ocultar orden <ion-icon ios="ios-arrow-up" md="ios-arrow-up"></ion-icon>
      </ion-label>
    </ion-col>

    <ion-col col-4 text-right>
      <ion-label>Total: ${{order.monto}}</ion-label>
    </ion-col>

  </ion-row>
  <div *ngIf="showSummary" class="hide-show-order">
    <ion-list>
      <ion-item class="item" *ngFor="let prod of order.detalles">
        <div class="quantity-order"><p class="quantity-value">{{prod.cantidad}}</p>
        </div>
        <ion-thumbnail item-start>
          <img
            [src]="'https://alquio.com/productos/' + prod.foto">
        </ion-thumbnail>
        <h2><b>{{prod.titulo}}</b></h2>
        <p>{{prod.descripcion_corta}}</p>
        <button ion-button clear item-end>${{prod.precio}}</button>
      </ion-item>
    </ion-list>
    <ion-row class="rowBorderBottom" align-items-center text-wrap padding>
      <ion-col col-12>
        <ion-row>
          <ion-col col-6>
             Subtotal
          </ion-col>
          <ion-col col-6 text-right>
            <b>${{order.monto}}</b>
          </ion-col>
        </ion-row>
        <hr style="width: 97%; height: 2px;">
        <ion-row>
          <ion-col col-6>
            Envío
          </ion-col>
          <ion-col col-6 text-right>
            <b>{{order.cart_envio}}</b>
          </ion-col>
        </ion-row>
        <hr style="width: 97%; height: 2px;">
        <ion-row>
          <ion-col>
            Total
            <ion-label class="noneMargin">Incluido $4.57 en impuestos</ion-label>
          </ion-col>
          <ion-col text-right>
            <h2>${{order.monto}}</h2>
          </ion-col>
        </ion-row>
        <!-- <hr style="width: 97%; height: 2px;">
        <ion-row>
          <ion-col col-12 >
            <ion-label class="noneMargin">Incluido $4.57 en impuestos</ion-label>
          </ion-col>
        </ion-row> -->
      </ion-col>
    </ion-row>

    <!-- <ion-row class="rowBorderBottom" align-items-center text-wrap padding>
      <ion-col>
        <ion-row>
          <ion-col>
            Total
          </ion-col>
          <ion-col text-right>
            <h2>${{order.monto}}</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 >
            <ion-label class="noneMargin">Incluido $4.57 en impuestos</ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row> -->
  </div>

  <div padding>

      <div class="boxBorders">

          <ion-list>

            <ion-item>
              <h2><b>Contacto</b></h2>
              <p>carlos_andres95@outlook.com</p>
              <button ion-button clear item-end>Cambiar</button>
            </ion-item>

            <ion-item>
              <h2><b>Enviar a</b></h2>
              <p>CALLE 1 F 3918, CASA 111611</p>
              <p>BOGOTA DC, Colombia</p>
              <button ion-button clear item-end>Cambiar</button>
            </ion-item>

            <ion-item>
              <h2><b>Method</b></h2>
              <p>Free Shipping - <b>Free</b></p>
            </ion-item>


          </ion-list>

      </div>
  </div>

  <div padding-left>

    <ion-row no-padding>
      <ion-col col-12>
        <span>Descuento</span>
      </ion-col>
    </ion-row>

  </div>

  <div>

    <ion-row align-items-center text-wrap padding>

      <ion-col col-10>
        <ion-input class="input-discount" type="text" placeholder="Código de descuento"></ion-input>
      </ion-col>

      <ion-col col-2>
        <button class="button-discount" ion-button>
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-col>

    </ion-row>

  </div>

  <div padding-left>

    <ion-row no-padding>
      <ion-col col-12>
        <span>Método de pago</span>
      </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col col-12>
          <span class="font-small">Todas las transacciones son seguras y encriptadas</span>
      </ion-col>
    </ion-row>

  </div>

  <div padding>

    <div class="boxBorders">
      <div> 
        <ion-list radio-group [(ngModel)]="paymethod">
          <ion-grid>
            <ion-row>
              <ion-col col-9 push-3>
                <ion-item>
                  <ion-label>Tarjetas de crédito</ion-label>
                  <ion-select [(ngModel)]="medio_cd">
                    <ion-option value="visa">MasterCard</ion-option>
                    <ion-option value="master">American Experess</ion-option>
                    <ion-option value="diners_club">Diners Club International</ion-option>
                    <ion-option value="codensa">Crédito Fácil Codensa</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col col-3 pull-9>
                <div class="radio-pay">
                  <ion-radio value="rad_cd"></ion-radio>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-9 push-3>
                <ion-item>
                  <ion-label>Efectivo</ion-label>
                  <ion-select [(ngModel)]="medio_cash">
                    <ion-option value="efecty">Efecty</ion-option>
                    <ion-option value="sured">SurRed</ion-option>
                    <ion-option value="viabaloto">ViaBaloto</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col col-3 pull-9>
                <div class="radio-pay">
                  <ion-radio value="rad_cash"></ion-radio>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-9 push-3>
                <ion-item>
                  <ion-label>Pagos en Bancos</ion-label>
                  <ion-select [(ngModel)]="medio_bank">
                    <ion-option value="efecty">Efecty</ion-option>
                    <ion-option value="sured">SurRed</ion-option>
                    <ion-option value="viabaloto">ViaBaloto</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col col-3 pull-9>
                <div class="radio-pay">
                  <ion-radio value="rad_bank"></ion-radio>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-list>
        <!-- </form> -->
      </div>

      <!-- <ion-row>

        <ion-col col-6>
            <ion-row>
                <img height="45px" src="https://i2.wp.com/elclubdeapuestas.com/wp-content/uploads/2017/07/paypal-logo.png?fit=672%2C261&ssl=1">
            </ion-row>
            <ion-row>
                <img height="45px" src="https://www.businessdirect.bt.com/images/1/merch/vendors/dabs/payment-method/images/payment-methods_01.jpg">
            </ion-row>
        </ion-col>
        <ion-col col-6>
            <ion-list radio-group>

              <ion-item>
                <ion-radio value="paypal"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-radio value="visa"></ion-radio>
              </ion-item>

            </ion-list>
        </ion-col>


      </ion-row> -->

    </div>

  </div>

  <div class="bottom-space"></div>

</ion-content>

<div id="bottom" class="bar">
  <!--Ordenar-->
  <div class="order bar">
    <p id="ord"><strong (click)="ordenar()">Ordenar</strong></p>
  </div>
</div>

<!--Opacidad del Contenido-->
<drawer-opacity #sideBar></drawer-opacity>

<!--Volver-->
<button-back></button-back>
<!-- <button class="button-back" (click)="backPage()">
  <ion-icon name="arrow-back" style="color: white"></ion-icon>
</button> -->

<!--Header-->
<header-app [options]="namePage"></header-app>

<!--Bottom-->
<!-- <bottom-app></bottom-app> -->

<!--Opciones del usuario-->
<drawer-user [options]="namePage" [sideBar]="sideBar"></drawer-user>
<drawer-user-panel></drawer-user-panel>
