// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-icon {
    &[class*="alquio-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 12%;
        height: 12%;
    }
    // custom icons
    &[class*="alquio-left"] {
        mask-image: url(../assets/img/customicons/left.svg);
    }
    &[class*="alquio-search"] {
        mask-image: url(../assets/img/customicons/search.svg);
    }
    &[class*="alquio-shopping-cart"] {
        mask-image: url(../assets/img/customicons/shopping-cart.svg);
    }
    &[class*="alquio-user"] {
        mask-image: url(../assets/img/customicons/user.svg);
    }
    &[class*="alquio-estrella-activa"] {
        mask-image: url(../assets/imgs/customicons/estrellaactiva.svg) !important;
    }
    &[class*="alquio-estrella-inactiva"] {
        mask-image: url(../assets/imgs/customicons/estrellainactiva.svg) !important;
    }    
}

.button-back{
    position: fixed;
    height: 45px;
    width: 45px;
    background-color: rgb(191, 178, 212);
    text-align: center;
    left: 0;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    bottom: 12%;
    background-image: linear-gradient(to right,#7B55B9, #40188F);
}

.bar{
    position: fixed;
    height: 8.5%;
    width: 100%;
    text-align: center
}

#bottom{
    position: fixed;
    top: 91.5%;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
    background-image: linear-gradient(#40188F, #7B55B9);
}

.customToastClass{
  background-color: transparent !important;
  // font-weight: bold;
  position: absolute;
  top: 5% !important;
  text-align: center !important;
  border-radius: 10px !important;
  width: 90% !important;
  align-items: center;
  align-content: center;
  left: 5%;
}

.calidadimagen{
    background: rgba(0, 0, 0, 0.5) !important;
    ion-backdrop{
        visibility: visible;
    }
    .modal-wrapper{
        position: relative;
        top: 25% !important;
        left: 5% !important;
        width: 90%;
        height: 30%;
    }
}

.califica{
    background: rgba(0, 0, 0, 0.5) !important;
    ion-backdrop{
        visibility: visible;
    }
    .modal-wrapper{
        position: relative;
        top: 25% !important;
        left: 12.5% !important;
        width: 75%;
        height: 33%;

        .fixed-content{
            margin-top: 65px !important;
        }

        .scroll-content{
            margin-top: 65px !important;
        }

        .scroll-content{
            top: 75px !important;
        }
    }
}

.legalinformation{
    background: rgba(0, 0, 0, 0.5) !important;
    .modal-wrapper{
        top: 0px !important;
        left: 0px !important;
        width: 100%;
        height: 100%;
        bottom: 0 !important;

        ion-title{
            padding-right: 10%;
            font-size: large;
            font-weight: bold;
            text-align: center;
            color: white;
        }

        p{ text-align: justify; }

        li{ text-align: justify; }

        ol{ margin-left: auto;
            margin-right: 7%;
        }

        ul{ margin-left: auto;
            margin-right: 7%;
        }

        .sectiontitle{
            text-align: center;
            font-size: medium;
        }

        ion-col{
            border: thin solid black;
        }
    }
}

.politicaspage{
    background: rgba(0, 0, 0, 0.5) !important;
    ion-backdrop{
        visibility: visible;
    }
    .modal-wrapper{
        position: relative;
        top: 12% !important;
        left: 5% !important;
        width: 90%;
        height: 80%;

        #PoliticasPage{
            text-align: center;
        }
    }
}

ion-alert{
    .alert-wrapper{
        .alert-head{
            text-align: center;
        }
        .input-has-focus .input-cover{
            display: none;
        }
        .main{
            color: red;
            border-left: 1px solid black;
            text-indent: 5px;
        }
        .alert-button-group{
            padding: 8px 8px 8px 0px;
        }
        .alert-button{
            padding: 20px;
        }
        .cancel{
            color: black;
        }
        .alert-message{
            padding: 0 15px 15px;
        }
    }
}

.sugerencias .alert-wrapper{
        position: relative;
        top: 25% !important;
}