page-jivo-chat {
    ion-content{
        font-family: "Open Sans light";
    }

    .div-alquio-img{

        margin-top: 60px;

    }

    .title-nomessages{
        font-weight: bold;
        font-size: 19px;
    }
}
