page-sing-in {

    .contentSingIn{
        background-image: url(../assets/imgs/inicio-fondo-sin-logo.png);
        height: 100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    .imgSingIn{
        width: 30%;
        height: auto;
    }

    .item-input{
        background-color: transparent;
    }

    .item-block{
        background-color: transparent;
    }

    input{
        color: #fff;
    }

    .goGoo{
        margin-top: 20px;
        float: left;
    }

    .goFace{
        margin-top: 20px;
        float: left;
        text-align: center;
    }

    .icono-google{
        margin-left: 17.5%;
        float: left;
        width: 11.5%;
        height: auto;
    }

    .letras-icono-google{
        float: left;
        text-align: left;
        margin-top: 6.5px;
        color: #fff;
        margin-left: 10px;
    }

    .icono-facebook{
        margin-left: 17.5%;
        float: left;
        width: 10%;
        height: auto;
    }

    .letras-icono-facebook{
        float: left;
        text-align: left;
        margin-top: 6.5px;
        color: #fff;
        margin-left: 10px;
    }

    .initial{
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .imgSingIn{
        width: 35%;
        height: 28%;
    }

    .list{
        margin-top: 7%;
    }

    .buttonSingIn{
        //margin-top: px;
        width: 100px;
        height: 35px;
        background-color: #fff;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 15px; 
        border-top-right-radius: 15px;
        border-bottom-right-radius: 100px; 
    }

    .letras-button{
        color: #7B55B9;
        font-size: 12.5px;
    }

    .buttonSecondary{
        margin-top: 15px;
    }

}

