page-sing-in {

    .contentSingIn{
        background-image: linear-gradient(to bottom right, rgb(123, 85, 185), rgb(123, 85, 185),  rgb(123, 85, 185),
        rgb(78, 198, 179), rgb(78, 198, 179));
    }

    .initial{
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .imgSingIn{
        width: 35%;
        height: 28%;
    }

    .list{
        margin-top: 7%;
    }

    .buttonSingIn{
        background-color: #7b55c6;
    }

    .buttonSecondary{
        margin-top: 15px;
    }
    .buttonSocial{
        align-content: center;
        text-decoration: none;
        padding: 10px;
        font-weight: 550;
        font-size: 15px;
        padding-left: 15px; 
        padding-right: 15px; 
        //border: 1.5px solid #7B55B9;
    }
    #buttonGoFB{
        border-top-left-radius: 35px;
        border-bottom-left-radius: 35px;
        background-image: linear-gradient(to right, #7B55B9, rgb(233, 221, 255), #ffffff);
    }
    #buttonGoGoo{
        border-top-right-radius: 35px;
        border-bottom-right-radius: 35px;
        background-image: linear-gradient(to right, #ffffff, rgb(233, 221, 255), #7B55B9);
    }
    
}

