<ion-content>
    <img src="assets/imgs/bg.png"
    alt="bar" class="img-bar"/>

  <img src="assets/imgs/controls.png"
      alt="controls" class="img-control"/>

  <div class="filtro">
    <button class="button-left" (click)="hideFliter()">
        <img src="assets/imgs/customicons/back.png" class="img-back">
    </button>
    <button class="button-right">
        <img src="assets/imgs/customicons/delete-icon.png" class="img-delete">
    </button>
    <ion-item>
      <ion-label class="label-title"><strong>Filtros</strong></ion-label>
    </ion-item>
    <ion-list class="list-settings">
        <ion-item>
            <ion-label class="label-option"><strong>Buscar por</strong></ion-label>
        </ion-item>

        <ion-item>
            <ion-label>Los mas buscados</ion-label>
            <ion-checkbox [(ngModel)]="more-search"></ion-checkbox>
          </ion-item>
        
          <ion-item>
            <ion-label>Mas recientes</ion-label>
            <ion-checkbox [(ngModel)]="most-recent"></ion-checkbox>
          </ion-item>

          <ion-item>
              <ion-label class="label-option"><strong>Colores</strong></ion-label>
          </ion-item>

          <div>
            <ion-grid center>
              <ion-row>
                <ion-col>
                  <ion-checkbox [(ngModel)]="color1" class="check-color1"></ion-checkbox>
                </ion-col>
                <ion-col>
                  <ion-checkbox [(ngModel)]="color2" class="check-color2"></ion-checkbox>
                </ion-col>
                <ion-col>
                  <ion-checkbox [(ngModel)]="color3" class="check-color3"></ion-checkbox>
                </ion-col>
                <ion-col>
                  <ion-checkbox [(ngModel)]="color4" class="check-color4"></ion-checkbox>
                </ion-col>
                <ion-col>
                  <ion-checkbox [(ngModel)]="color5" class="check-color5"></ion-checkbox>
                </ion-col>
                <ion-col>
                  <ion-checkbox [(ngModel)]="color6" class="check-color6"></ion-checkbox>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>

          <ion-item>
              <ion-label class="label-option"><strong>Talla</strong></ion-label>
          </ion-item>

          <ion-item>
              <ion-label>Pequeño</ion-label>
              <ion-checkbox [(ngModel)]="small"></ion-checkbox>
            </ion-item>
          <ion-item>
              <ion-label>Mediano</ion-label>
              <ion-checkbox [(ngModel)]="medium"></ion-checkbox>
            </ion-item>
          <ion-item>
              <ion-label>Grande</ion-label>
              <ion-checkbox [(ngModel)]="big"></ion-checkbox>
            </ion-item>
        
        <ion-item>
            <ion-label class="label-option"><strong>Precio</strong></ion-label>
        </ion-item>

        <ion-item>
          <ion-label >Mínimo</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
      
        <ion-item>
            <ion-label>Máximo</ion-label>
            <ion-input type="number"></ion-input>
        </ion-item>
    </ion-list>
    <div class="div-button-aplic">
      <button ion-button round class="button-aplicar" (click)="hideFliter()">Aplicar</button>
    </div>
    
  </div>
</ion-content>